!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='style.css')
    title Source widget
  body
    h1 Source widget

    h2 IWC as event
    .block
      .text
        input(type="text", value="Text to send")
      button
        | Send event

    h2 IWC as drag and drop
    .block
      img.dragme(src="dragme.png")


