!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='style.css')
    title Destination widget
  body
    h1 Destination widget

    h2 IWC as event
    .block

    h2 IWC as drag and drop
    .block
