!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='style.css')
    title Source widget
  body
    h1 Source widget

    h2 IWC as event
    .block
      .text
        input#text(type="text", value="Text to send")
      button#button
        | Send event

    h2 IWC as drag and drop
    .block
      img#dragme.dragme(src="dragme.png", draggable="true")

    script(type='text/javascript', src='../lib/iwc.js')
    script(type='text/javascript', src='../test/jquery-2.0.3.min.js')
    script(type="text/javascript")
      $(window).load(function () {

        // ------------
        // IWC code
        // ------------

        var onClick = function() {
          var text = $("#text").val()
          // send data
          iwc.publish({
            event: "select",
            type: "json",
            message: {
              text: text
            }
          });
        };
        $("#button").click(onClick)

        // ------------
        // Drag and drop code
        // ------------

        iwc.draggable('dragme', {
          dragstart: function () {
            return "dragme.png"
          }
        })

      })
