!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='style.css')
    title IWC for widgets
  body
    h1 Test for IWC.
    ul
      li IWC as event exchange
      li IWC as drag and drop

    iframe(src="frame_src.html")
    iframe(src="frame_dest.html")

    //livereload script rendered
    script(type='text/javascript', src='http://localhost:35729/livereload.js')


